html{
    font-size:30px;
}
.emenem{
    font-size:2em;
}

.box{
    min-height:200px;
}
.papayawhip{
    background-color : burlywood;
}
.magenta{
    background-color : magenta;
}


[class *= "col-"]{
    width:100%;
    float:left;
}

@media(min-width:600px){
    .magenta{
        background-color : red;
    }
}

@media(min-width:992px){
    .magenta{
        background-color : blue;
    }
    .col-6-12{
        width:50%;
    }
    .col-3-12{
        width:25%;
    }
}
@media(min-width:1200px){
    .magenta{
        background-color : rebeccapurple;
    }

}